<!DOCTYPE html>
<html>
    <head>
        <title>Janssen Juntilla</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/jolly-sunday.css">
    </head>
    <body>
        <header id="site-header" class="site-header">
            <nav>
                <ul>
                    <li><a href="/">Home</a>
                    <li><a href="/ministry.html">Ministry</a>
                    <li><a href="/law.html">Law</a>
                    <li><a href="/about.html">About</a>
                </ul>
            </nav>
        </header>
        <section>
            {{ content }}
        </section>
        <footer class="site-footer">
            Janssen Juntilla &copy; <span id="copy-date">2015</span>
        </footer>
        <script src="js/jolly-sunday-theme.js"></script>
    </body>
</html>
